$str: #333;
$str-light: #eee;
$btn-back: #eee;

* {
  color: $str;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin: 0 0.7rem;

  .checked {
    background: $btn-back;

    &:hover {
      background: unset;
    }
  }
}

#drawer-btn {
  
  &>input {
    &:checked ~ label {
      background: $btn-back;
    }
  }
}

#container {
  overflow: hidden;
  height: 100vh;
  min-width: 320px;

  header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    height: 2.7rem;
    padding: 0.2rem 1rem;
    overflow: hidden;
    position: relative;
    z-index: 90;

    h1 {
      a {
        padding: 0.7rem 1rem;
        font-size: 2rem;
      }
    }

    nav {
      margin-left: auto;

      ul {
        list-style-type: none;

        li {
          & > a.btn {
            display: block;
            font-size: 1.5rem;
            padding: 0.7rem 1rem;
            transition: 0.3s ease-in-out;

            &:hover {
              background: $btn-back;
            }
          }
        }
      }
    }
  }

  main {
    position: relative;

    .drawer {
      transition: 0.3s ease-in-out;
      height: calc(100vh - 2.7rem);
      width: 50vw;
      position: absolute;
      background: #fafafa;
      box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
      
      text-align: center;
      overflow: hidden;

      p {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
    #left-drawer {
      left: -60vw;
      top: 0;
      z-index: 80;

      &.dShow {
        transform: translateX(60vw);
      }
    }
    #right-drawer {
      right: -60vw;
      top: 0;
      z-index: 60;

      &.dShow {
        transform: translateX(-60vw);
      }
    }

    #contents {
      padding: 2em;
      transition: 0.3s ease-in-out;

      @media screen and (max-width: 735px) {
        &.dShow{
          transform: translateX(50vw);
        }
      }
    }
  }

  /* footer {
  } */
}
