$str: #333;
$str-light: #eee;
$btn-back: #eee;
$header-height: 40px;
$drawer-width: 50vw;
$drawer-hidden: 60vw;
$bg-light: #fff;
$bg-dark: #fafafa;

* {
  color: $str;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
}

%component {
  margin-top: 2rem;
  background: $bg-light;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin: 0 0.7rem;
  cursor: pointer;

  &.checked {
    background: $btn-back;
  }
}

#container {
  height: calc(100vh - #{$header-height});
  min-width: 320px;
  background: $bg-dark;

  header {
    background: $bg-light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: $header-height;
    padding: 0.2rem 1rem;
    overflow: hidden;
    position: fixed;
    z-index: 90;
    width: 100%;
    top: 0;
    left: 0;

    h1 {
      a {
        padding: 0.7rem 1rem;
        font-size: 2rem;
      }
    }

    nav {
      margin-left: auto;

      ul {
        list-style-type: none;

        li {
          i {
            margin-right: 0.5rem;
          }
          
          & > a.btn {
            display: flex;
            padding: 1rem;
            transition: 0.3s ease-in-out;
            
            span {
              font-size: 1.5rem;
            }
            @media screen and (max-width: 395px) {
              i {
                margin: 0
              }
              
              span {
                display: none;
              }
            }

            &:hover {
              background: $btn-back;
            }
          }
        }
      }
    }
  }

  main {
    margin-top: $header-height;
    position: relative;
    overflow-x: hidden;
    height: 100%;

    .drawer {
      transition: 0.3s ease-in-out;
      width: $drawer-width;
      height: calc(100vh - #{$header-height});
      position: fixed;
      background: $bg-light;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      top: $header-height;
      
      text-align: center;
      overflow-x: hidden;
      overflow-y: auto;

      p {
        padding: 1rem;
        font-size: 2rem;
      }
    }
    #left-drawer {
      left: -$drawer-hidden;
      z-index: 80;

      &.dShow {
        transform: translateX($drawer-hidden);
      }
    }
    #right-drawer {
      right: -$drawer-hidden;
      z-index: 60;

      &.dShow {
        transform: translateX(-$drawer-hidden);
      }
    }

    #contents {
      overflow-x: hidden;
      overflow-y: auto;
      padding: 2em;
      transition: 0.3s ease-in-out;
      
      @media screen and (max-width: 735px) {
        &.dShow{
          transform: translateX(50vw);
        }
      }

    }
  }

  .card {
    @extend %component;

    padding: 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    
    h1 {
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .table {
    @extend %component;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      th {
        background: darken($bg-dark, 2%);
      }
      
      th, td {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.3rem 0.8rem;

        &:nth-child(1) {
          width: 10rem;
        }
        &:nth-child(3) {
          width: 6rem;
        }

        @media screen and (max-width: 579px) {
          padding: 0.3rem 0;
          text-align: center;
        }
      }
    }
  }
  
  /* footer {
  } */
}
