$str: #333;
$str-light: #eee;
$btn-back: #eee;

* {
  color: $str;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    background: $btn-back;
  }
}

#container {
  overflow: hidden;
  height: 100vh;

  header {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    height: 2.7rem;
    overflow: hidden;

    h1 {
      display: block;
      height: 100%;

      a {
        padding: 1rem;
        font-size: 2rem;
        width: 80%;
      }
    }

    nav {
      margin-left: auto;

      ul {
        list-style-type: none;

        li {
          & > a.btn {
            display: block;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;

            &:hover {
              background: $btn-back;
            }
          }
        }
      }
    }
  }

  main {
    position: relative;

    .drawer {
      transition: 0.3s ease-in-out;
      height: 100vh;
      width: 50vw;
      position: absolute;
      text-align: center;

      p {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
    #left-drawer {
      left: -50vw;
      top: 0;
      background: red;

      &.dShow {
        transform: translateX(50vw);
      }
    }
    #right-drawer {
      right: -50vw;
      top: 0;
      background: blue;

      &.dShow {
        transform: translateX(-50vw);
      }

      p {
        color: $str-light;
      }
    }

    #contents {
      padding: 2em;
    }
  }

  /* footer {
  } */
}
